Open-Connectors/MSSentinelBasicIncidents/Authomize-Sentinel-Webhook-Reciever.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This logic app for MS Sentinel and Authomize. It will recieve a webhook from Authomize, send the data to Log Analytics and create Authomize_v1_CL and then create an an unassigned open incident in MS Sentinel",
        "title": "Authomize Log Collect for Webhook",
        "description": ["This logic app for MS Sentinel and Authomize. It will recieve a webhook from Authomize, send the data to Log Analytics and create Authomize_v1_CL and then create an an unassigned open incident in MS Sentinel"],
        "prerequisites": "You will need an account that has the correct priveleges for incident creation in Sentinel and obtain your workspace ID and primary key for logging.",
        "lastUpdateTime": "2022-10-07T00:00:00.000Z", 
        "postDeployment": ["**Configure connections**", 
            "Edit the Logic App or go to Logic app designer.", 
            "Expand both the connectors and add a new connection by signing-in to your existing one or entering your workspace ID abd key as needed.", 
            "NOTE: Connection name for the first connector will be LogCollector-Authomize-Sentinel-Webhook-Reciever. By default Authomize_v1_CL will be created in your Custom Logs.", 
            "Copy the URL 'HTTP POST URL' from the 'When a HTTP request is recieved' task at the very top.", 
            "Save the Logic app",
            "*** LOGIN TO AUTHOMIZE AS ADMIN ***", 
            "Under settings (icon in top right corner) you will find webhook. Create a webhook, give it a name and enter the URL you just copied"
        ],
        "support": {
            "tier": "support@authomize.com"
        },
        "author": "Steven Riley @ Authomize",
        "releaseNotes": [
        {
          "version": "1.0.0",
          "title": "Authomize-Sentinel-Webhook-Reciever",
          "notes": [
            "Initial release"
          ]
        }]
    },
    "parameters": {
        "LogicAppName": {
            "defaultValue": "Authomize-Sentinel-Webhook-Reciever",
            "type": "string"
        }

    },
    "variables": {
        "LogCollectorName": "[concat('LogCollector-', parameters('LogicAppName'))]",
        "SentineIncidentName": "[concat('SentinelIncident-',parameters('LogicAppName'))]"

    },
    "resources": [
        {
            "type":"Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name":"[variables('LogCollectorName')]",
            "location":"[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('LogCollectorName')]",
                "customParameterValues": {},
                "api":{
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azureloganalyticsdatacollector')]"}
            }
        },
        {   
            "type":"Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name":"[variables('SentineIncidentName')]",
            "location":"[resourceGroup().location]",
            "properties": {
                "displayName": "[variables('SentineIncidentName')]",
                "customParameterValues": {},
                "api":{
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"}
            }
        },        
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('LogicAppName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections',variables('LogCollectorName'))]",
                "[resourceId('Microsoft.Web/connections',variables('SentineIncidentName'))]"
            ],
            "tags": {
                "LogicAppsCategory": "Security"
            },
            "identity":{
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "staticResults": {
                        "Send_Data0": {
                            "status": "Succeeded",
                            "outputs": {
                                "headers": {},
                                "statusCode": "OK"
                            }
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "method": "POST",
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "apps": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "assigneeId": {
                                                    "type": "string"
                                                },
                                                "category": {
                                                    "type": "string"
                                                },
                                                "compliance": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "values": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "values"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "createdAt": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "entities": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "object": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "object"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "isResolved": {
                                                    "type": "boolean"
                                                },
                                                "modifiedAt": {
                                                    "type": "string"
                                                },
                                                "policy": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "templateId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "policyId": {
                                                    "type": "string"
                                                },
                                                "recommendation": {
                                                    "type": "string"
                                                },
                                                "severity": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tactics": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "techniques": {
                                                    "type": "array"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Check_if_incident_open": {
                            "actions": {},
                            "runAfter": {
                                "Switch_map_sentinel_and_authomize_status": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Response_2": {
                                        "runAfter": {},
                                        "type": "Response",
                                        "kind": "Http",
                                        "inputs": {
                                            "body": "Nothing to do.",
                                            "headers": {
                                                "Content-Type": "application/json"
                                            },
                                            "statusCode": 200
                                        }
                                    },
                                    "Terminate": {
                                        "runAfter": {
                                            "Response_2": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "Terminate",
                                        "inputs": {
                                            "runStatus": "Succeeded"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "contains": [
                                            "@body('Parse_JSON')?['data']?['status']",
                                            "@variables('AuthStatus')"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Create_incident_from_Authomize": {
                            "runAfter": {
                                "Send_Data_to_custom_log_for_sentinel": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "description": "Reference URL: @{body('Parse_JSON')?['data']?['url']} Recommendation: @{body('Parse_JSON')?['data']?['recommendation']} PolicyID: @{body('Parse_JSON')?['data']?['policyId']}",
                                    "ownerAction": "Unassign",
                                    "severity": "@variables('SeverityStatus')",
                                    "status": "New",
                                    "tagsToAdd": {
                                        "TagsToAdd": [
                                            {
                                                "Tag": "Authomize"
                                            }
                                        ]
                                    },
                                    "title": "@body('Parse_JSON')?['data']?['description']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "[concat('/Incidents/subscriptions/', uriComponent(subscription().subscriptionId),'/resourceGroups/',uriComponent(resourceGroup().location),'/workspaces/',uriComponent(variables('SentineIncidentName')))]"
                            }
                        },
                        "Initialize_Authomize_Status_Open_variable": {
                            "runAfter": {
                                "Initialize_Severity_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AuthStatus",
                                        "type": "string",
                                        "value": "Open"
                                    }
                                ]
                            }
                        },
                        "Initialize_Severity_variable": {
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SeverityStatus",
                                        "type": "string",
                                        "value": "Informational"
                                    }
                                ]
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {},
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "apps": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "assigneeId": {
                                                    "type": "string"
                                                },
                                                "category": {
                                                    "type": "string"
                                                },
                                                "compliance": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "values": {
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "values"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "createdAt": {
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "type": "string"
                                                },
                                                "entities": {
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "object": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "object"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "isResolved": {
                                                    "type": "boolean"
                                                },
                                                "modifiedAt": {
                                                    "type": "string"
                                                },
                                                "policy": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "templateId": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "policyId": {
                                                    "type": "string"
                                                },
                                                "recommendation": {
                                                    "type": "string"
                                                },
                                                "severity": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "tactics": {
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "techniques": {
                                                    "type": "array"
                                                },
                                                "url": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Create_incident_from_Authomize": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "statusCode": 200
                            }
                        },
                        "Send_Data_to_custom_log_for_sentinel": {
                            "runAfter": {
                                "Check_if_incident_open": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@{triggerBody()}",
                                "headers": {
                                    "Log-Type": "Authomize_v1"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/logs"
                            },
                            "runtimeConfiguration": {
                                "staticResult": {
                                    "staticResultOptions": "Disabled",
                                    "name": "Send_Data0"
                                }
                            }
                        },
                        "Switch_map_sentinel_and_authomize_status": {
                            "runAfter": {
                                "Initialize_Authomize_Status_Open_variable": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "Low",
                                    "actions": {
                                        "Set_variable_2": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SeverityStatus",
                                                "value": "Informational"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "Medium",
                                    "actions": {
                                        "Set_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SeverityStatus",
                                                "value": "Low"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "High",
                                    "actions": {
                                        "Set_variable_3": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SeverityStatus",
                                                "value": "Medium"
                                            }
                                        }
                                    }
                                },
                                "Case_4": {
                                    "case": "Critical",
                                    "actions": {
                                        "Set_variable_4": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SeverityStatus",
                                                "value": "High"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {
                                    "Set_variable_5": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "SeverityStatus",
                                            "value": "Informational"
                                        }
                                    }
                                }
                            },
                            "expression": "@body('Parse_JSON')?['data']?['severity']",
                            "type": "Switch"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureloganalyticsdatacollector": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('LogCollectorName'))]",
                                "connectionName": "[variables('LogCollectorName')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azureloganalyticsdatacollector')]"
                            },
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentineIncidentName'))]",
                                "connectionName": "[variables('SentineIncidentName')]",
                                "id": "[concat('/subscriptions/',subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location,'/managedApis/azuresentinel')]"
                            }
                        }
                    
                    }
                }
            }
        }
    ]
}